<div class="auth-wrapper-div">
  <form class="grey-form"
    [formGroup]="registerForm" *ngIf="!successMessage" (ngSubmit)="register()">
    <h2>Register user account</h2>
    <label>
      Give username:
      <input type="text" formControlName="username" required>
    </label>
    <label>
      Give name:
      <input type="text" formControlName="name" required>
    </label>
    <label>
      Give password:
      <input type="password" formControlName="password" required>
    </label>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <button type="submit">Register</button>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </form>
</div>
