<div>
  <div>
    <h3>Manager dashboard</h3>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Attending time</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of attendances; let i = index"
          [class.selected]="selectedRow === i"
          (click)="selectRow(i)">
        <td>{{ employee.name }}</td>
        <td>{{ employee.startTime }}</td>
      </tr>
      </tbody>
    </table>
    <button (click)="navigateToRegister()">Register new employee</button>
  </div>

  <div>
    <div *ngIf="selectedRow !== null">
      <div *ngIf="!showAssignTaskEditor">
        <button (click)="navigateToManageTasks()">Manage tasks</button>
        <button (click)="showAssignTaskEditor = !showAssignTaskEditor">Assign task</button>
      </div>
      <div *ngIf="showAssignTaskEditor">
        <button (click)="showAssignTaskEditor = !showAssignTaskEditor">Back</button>
        <textarea [(ngModel)]="taskDescription" placeholder="Add task description"></textarea>
        <button (click)="assignTask()">Assign task</button>
      </div>
    </div>
    <div *ngIf="selectedRow === null" class="alert">
      {{ message }}
    </div>
  </div>
</div>
